<ons-page id="Tab2" ng-controller="HomeController as Home">

	<div class="horizontal-list">
		<list-title title="Wololooooo"></list-title>
		<list-covers></list-covers>
	</div>

	<div class="horizontal-list">
		<list-title title="Discover this thing"></list-title>
		<list-covers></list-covers>
	</div>

	<div class="horizontal-list">
		<list-title title="Epic stuff"></list-title>
		<list-covers></list-covers>
	</div>

	<div class="horizontal-list">
		<list-title title="Music you might love"></list-title>
		<list-covers></list-covers>
	</div>

</ons-page>