<ons-page id="Tab2" ng-controller="ProfileController as Profile">
	
	<ons-row>

		<ons-col width="35%" class="profile-pic">
			<img ng-src="{{Profile.user.images[0].url}}" />
		</ons-col>

		<ons-col>
			<h1>{{Profile.user.display_name}}</h1>
			<strong>{{Profile.user.followers.total}}</strong> followers<br>
			<button>Settings</button>
		</ons-col>

	</ons-row>

	<div class="horizontal-list">
		<list-title title="Albums"></list-title>
		<list-covers data="Profile.albums"></list-covers>
	</div>

</ons-page>