<div style="position: relative;">
<ons-gesture-detector>
	<div class="list-covers">
		<div class="list-covers-content">
			
			<div class="list-covers-cover"></div>
			<div class="list-covers-cover"></div>
			<div class="list-covers-cover"></div>
			<div class="list-covers-cover"></div>
			<div class="list-covers-cover"></div>
			<div class="list-covers-cover"></div>
			<div class="list-covers-cover"></div>
			<div class="list-covers-cover"></div>
			<div class="list-covers-cover"></div>

		</div>
	</div>
</ons-gesture-detector>
</div>
